@import '../../styles/common.scss';

.wrapper {
  margin-top: 30px;
}

.header {
  margin-bottom: 20px;
  color: $titleColor;
  font-size: 25px;
  font-weight: 400;
  border-bottom: 1px solid #bfbfbf;
}

.title {

}
