@import '../../styles/common.scss';

.content {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 25px;
  color: $mainColor;
}

.columns {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 0 $horizontalGridGap;
}
